{% extends 'base.html.twig' %}

    {% block header %}
        <a href="{{ path('products')}}">Products</a>
        <a href="{{ path('suppliers') }}">Suppliers</a>
        <a href="{{ path('index-start') }}">Home</a>
    {% endblock %}

  {% block body %}
      <h2>Suppliers({{ suppliers|length }})</h2>
      <br>
      <table border="1">
          <tr>
              <td>id</td>
              <td>name</td>
              <td>contactName</td>
              <td>phone</td>
              <td>email</td>
          </tr>
          {% for supplier in suppliers %}
              <tr>
                  <td> {{ supplier.id }}</td>
                  <td>{{ supplier.name }}</td>
                  <td>{{ supplier.contactName }}</td>
                  <td>{{ supplier.phone }}</td>
                  <td> {{ supplier.email }}</td>
                  <td>
                      <a class="show-item" href="{{ path('supplier', { id: supplier.id }) }}"> Show </a>
                  </td>
                  <td>
                      <a class="delete-item" href="{{ path('deleteSupplier', { id: supplier.id }) }}">Delete </a>
                  </td>
                  <td>
                      <a class="edit-item" href="{{ path('editSupplier',{ id: supplier.id}) }}">Edit</a>
                  </td>
              </tr>
          {% endfor %}
      </table>
    <a href="{{ path('newSupplier') }}"> Сreate a new supplier</a>

  {% endblock body %}