{% extends 'base.html.twig' %}


  {% block body %}
      <br>
      {% for supplier in suppliers %}
{#          {{ dump(supplier) }}#}
          {{ supplier.id }} ,
          {{ supplier.name }} ,
          {{ supplier.contactName }} ,
          {{ supplier.phone }} ,
          {{ supplier.email }}<br>
          <a href="{{ path('supplier', { id: supplier.id }) }}"> Show </a>
          <a href="{{ path('deleteSupplier', { id: supplier.id }) }}">Delete </a>
          <a href="{{ path('editSupplier',{ id: supplier.id}) }}">Edit</a>
          <br><br>
      {% endfor %}

    <a href="{{ path('newSupplier') }}"> Сreate a new supplier</a>

  {% endblock body %}