{% extends 'base.html.twig' %}


{% block body %}

    {{ form_start(form) }}
    <div class="form-control">
        {{ form_label(form.name,'Product name') }}
        <div class="form-error">
            {{ form_errors(form.name) }}
        </div>
        {{ form_widget(form.name) }}
        <small>{{ form_help(form.name) }}</small>

    </div>

    <div class="form-control">
        {{ form_label(form.color,'Product color') }}
        <div class="form-error">
            {{ form_errors(form.color) }}
        </div>
        {{ form_widget(form.color) }}
        <small>{{ form_help(form.color) }}</small>

    </div>

    <div class="form-control">
        {{ form_label(form.price) }}
        <div class="form-error">
            {{ form_errors(form.price) }}
        </div>
        {{ form_widget(form.price) }}
        <small>{{ form_help(form.price) }}</small>

    </div>
    <div class="form-control">
        {{ form_label(form.createDat) }}
        {{ form_widget(form.createDat) }}
        <small>{{ form_help(form.createDat) }}</small>
        <div class="form-error">
            {{ form_errors(form.createDat) }}
        </div>
    </div>

    <button type="submit" >Save</button>

    {{ form_end(form) }}
    <a href="{{ path('products') }}">Products</a>

{% endblock body %}