{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}
{% block body %}
    <br>
    <h2>Products ({{ products|length }})</h2>
    <br>
    {% for product in products|sort %}
         {{ product.id }} ,
         {{ product.name}} ,
         {{ product.color }} ,
         {{ product.price }} ,
         {{ product.createDat|date('Y-m-d') }} <br>
        <a href="{{ path('show_product', { id: product.id }) }}">Show</a>
        <a href="{{ path('delete', { id: product.id }) }}">Delete</a>
        <a href="{{ path('edit',{ id: product.id}) }}">Edit</a>
        <br><br>


    {% endfor %}

    <a href="{{ path('new') }}"> Сreate a new product</a>

{% endblock body %}