{% extends 'base.html.twig' %}

{% block title %}getAll{% endblock %}
{% block body %}

    {% for product in products %}
         {{ product.id }} ,
         {{ product.name}} ,
         {{ product.color }} ,
         {{ product.price }} ,
         {{ product.createDat|date('Y-m-d') }}
        <a href="{{ path('show_product', { id: product.id }) }}"> product № {{ product.id}}</a>
        <a href="{{ path('delete', { id: product.id }) }}">Delete№ {{ product.id}} </a>
        <a href="{{ path('edit',{ id: product.id}) }}">Edit</a>
        <br>


    {% endfor %}

    <a href="{{ path('new') }}"> form</a>

{% endblock body %}